@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(
    135deg,
    #3c6e71 0%,
    #84a98c 25%,
    #6c2b6e 50%,
    #fca311 75%,
    #e85d04 100%
  );
  background-size: 400% 400%;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: gradientBackground 20s ease infinite;
}

.App {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

h1 {
  margin-bottom: 1rem;
  color: white;
}

.Form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: white;
}

input::placeholder {
  color: #ffffff; /* Choose the color you want for the placeholder text */
  opacity: 1; /* This is optional, adjust the opacity as needed */
}


.Form button {
  width: 100%;
  padding: 0.5rem;
  background-color: #2a9d9056;
  backdrop-filter: blur 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
}

.Form button:before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 100%;
  left: -50px;
  top: 0;
  transform: skewX(-45deg) translateY(-50%);
  transition: transform 0.5s;
}

@keyframes buttonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Form button:hover {
  background: linear-gradient(90deg, #3c6e71, #6699ac, #3c6e71);
  background-size: 200% 200%;
  animation: buttonGradient 3s linear infinite;
  color: #fff;
  transition: none;
  border: none;
}

.Form button:hover:before {
  transform: skewX(-45deg) translateY(150%);
}

.Form p {
  margin: 0;
  color: white;
}

.Credits {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: #ffffff;
}

.Credits a {
  text-decoration: none;
  color: #ffffff;
  text-align: right;
}

.Credits a:hover {
  text-decoration: underline;
}

